.paging{
    text-align: center;
}
.paging  a{
    text-decoration: none;
    border: 5px;
    padding: 20px;
    display: inline-block;
}
.paging a.active{
    background-color: rgb(164, 217, 164);
    font: bold;
    border-radius: 5px;
}
.paging a.active:active{
    background-color: red;
    color: white;
    font: bold;
    border-radius: 5px;
}
.paging a:hover:not(.active){
    background-color: grey;
    border-radius: 5px;
}